.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 0;
  padding: 92px 50px 96px 50px;
}

.header__nav-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__nav-item_active,
.footer__nav-item_active {
  list-style: none;
}

.header__nav-item_active .header__nav-link,
.footer__nav-item_active .footer__nav-link {
  text-decoration: none;
}

.header__logo-link {
  width: 148px;
  height: 105px;
}

.header__address,
.footer__address {
  justify-self: end;
  min-width: 240px;
  font-style: normal;
  line-height: 24.3px;
  text-align: start;
  text-underline-offset: 5px;
}

.cover {
  position: relative;
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title,
.description {
  position: relative;
  z-index: 2;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 105px;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.title__second {
  align-self: center;
  margin-left: 28px;
}

.title__third {
  align-self: end;
  margin-right: -29px;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description__text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.description__text span {
  word-spacing: 18px;
}

.description__button {
  margin: 0;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-weight: medium;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin: 0 24px;
  margin-bottom: 120px;
}

.lots__title {
  margin-bottom: 27px;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lot {
  width: 334px;
  min-height: 596px;
}

.lot__link {
  height: 100%;
  text-decoration: none;
}

.lot-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lot-card__title,
.lot-card__info {
  z-index: 2;
}

.lot-card__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
}

.lot-card__info {
  font-size: 20px;
  line-height: 24px;
}

.lots__link {
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 0 24px;
  padding-top: 35px;
}

.about__logo-container {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  background-color: black;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text:first-of-type {
  margin-right: 5px;
  margin-bottom: 24px;
}

.about__title {
  margin: 100px 0;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.footer {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
  align-items: start;
  margin-top: 180px;
  padding: 0 50px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.footer__nav-list,
.footer__social-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
}
